<!-- General get-in-touch Styling  -->
<div class="get-in-touch" >
  <h1 data-aos="fade-down" data-aos-duration="1500">GET IN TOUCH</h1>
  <p data-aos="fade-up" data-aos-duration="1500">Hello, I’m Farhan, a Website & User Interface Designer based in India. I specialize in creating visually engaging,
    user-friendly web designs with a focus on responsive and modern solutions.</p>
  <a href="mailto:farhan77070@gmail.com" class="email-link" >farhan77070&#64;Gmail.Com</a>

  <div class="social-links">
    <a href="https://www.facebook.com/mohamad.farhan.77770194?rdid=WYtSWH3xvUJXoigu&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F182wvuzmET%2F#"
    target="_blank" class="social-btn">
      Facebook <span class="arrow">→</span>
    </a>
    <a href="https://www.instagram.com/mdfarhanlm/?igsh=NnBpdmJ6dXJqMzdt" target="_blank" class="social-btn"> 
      Instagram <span class="arrow">→</span>
    </a>
    <a href="https://x.com/AlamFarhanMd?t=iK2k9gCJS0yK-aq6jvjFPg&s=08" target="_blank" class="social-btn">
      Twitter <span class="arrow">→</span>
    </a>
    <a href="https://www.linkedin.com/in/md-farhan-alam-97a174237" target="_blank" class="social-btn">
      Linked In <span class="arrow">→</span>
    </a>
  </div>
</div>